.App {
  width: 100vw;
  height: 100vh;
  padding-top: 55px;
  text-align: center;
  background-color: rgba(239, 238, 241, 0);
}

.main {
  padding-left: 250px;
}

/* css position relative */

.homepage {
  flex: auto;
}

.App .box{
  height: 150vh;
  width: 50%;
  background-color: black;
}

.med-image{
  height: 300px;
  width: 400px;
}

.large-image{
  height: 500px;
}

.link {
  background-color: rgb(36, 35, 35, 0.2);
  color: black;
  text-decoration: solid;
  background-size: 50px;
}

.sidebar{
  flex-direction: row;
  flex: start;
  float: left;
  position: fixed;
  height: 60%;
  width: 250px;
  border-radius: 15px;
  background-color: rgb(42, 141, 22);
}

.sidebar .title{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.list{
  height: auto;
  width: 95%;
  padding: 0;
}

.list .row{
  padding-bottom: 10px;
  padding-left: 25px;
  color: black;
}

.list .row:hover{
  cursor: pointer;
  background-color: rgb(36, 35, 35, 0.5);
}

body{
  margin: 0;
  padding: 0;
  background-color: black;
}

.carouselbox {
  width: 100vw;
  padding-right: 250px;
  height: fit-content;
  justify-content: center;
  background-color: rgb(36, 35, 35);
}