.App {
  width: 100vw;
  height: 100vh;
  padding-top: 55px;
  text-align: center;
  background-color: rgba(239, 238, 241, 0);
}

.main {
  padding-left: 250px;
}

/* css position relative */

.homepage {
  flex: auto;
}

.App .box{
  height: 150vh;
  width: 50%;
  background-color: black;
}

.med-image{
  height: 300px;
  width: 400px;
}

.large-image{
  height: 500px;
}

.link {
  background-color: rgb(36, 35, 35, 0.2);
  color: black;
  text-decoration: solid;
  background-size: 50px;
}

.sidebar{
  float: left;
  position: fixed;
  height: 60%;
  width: 250px;
  border-radius: 15px;
  background-color: rgba(4, 170, 109);
  box-shadow: 0px 0px 20px 1px rgb(75, 75, 75);
}

.sidebar .title{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.list{
  height: auto;
  width: 95%;
  padding: 0;
}

.list .row{
  padding-bottom: 10px;
  padding-left: 25px;
  color: black;
}

.list .row:hover{
  cursor: pointer;
  background-color: rgb(36, 35, 35, 0.5);
}

body{
  margin: 0;
  padding: 0;
  background-color: black;
}

.carouselbox {
  width: 100vw;
  padding-right: 250px;
  height: fit-content;
  justify-content: center;
  background-color: rgb(36, 35, 35);
}

.doggoinfo {
  width: 84vw;
  height: fit-content;
  text-align: left;
  padding-left: 3%;
  padding-top: 1%;
  margin-left: 15px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgb(75, 75, 75);
}

.linebreak {
  width: 79vw;
  height: 1px;
  background-color: rgba(4, 170, 109);
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex .box {
  width: 250px;
  height: 350px;
  margin: 50px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgb(75, 75, 75);
  background-color: white;
}

.flex .box .image{
  width: 300px;
}